*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}
header{
    z-index: 1;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #FFFFFF;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    font-weight: 700px; 
    position: fixed;
    left: 0;
    top: 0;
}
.container{
    margin:180px auto;
    width: 90%;
    min-width: 1065px;
    max-width: 1065px;
}
.myQuizz{
    width: 100%;
    margin: 0 auto;
    height: 180px;
    border: 1px dashed #D4D4D4;
    color: #B9B9B9;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 30px 0;
    min-width: 340px;
}
.myQuizz button{
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-size: 20px;
    color:#ec362d;
    background-color: #FAFAFA;
    padding: 8px 20px;
    margin-top: 20px;
    cursor: pointer;
}
.allQuizz{
    margin: 80px auto 0 auto;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}
.createQuizz{
    z-index: 1;
    color: #000000;
    font-weight: 700;
    font-size: 22px;
    margin-top: 80px;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
 }
.section{
    margin-top: 60px;
}
.inputQuizz{
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #0000000D;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    width: 100%; 
    margin-top: 30px;
    height: auto;
    text-align: left;
}
.inputQuizz input{
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    padding: 10px 20px;
    width: 100%; 
}
.createQuizz button{
    background-color: #EC362D;
    color: #FFF5F4;
    height: 60px;
    width: 30%;
    min-width: 325px;
    max-width: 370px;
    padding: 10px 0;
    border-radius: 15px;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    border:none;
    margin-top: 60px;
    cursor: pointer;
}
.section{
    width: 40%;
    max-width: 600px;
    min-width: 375px;
}
.inputQuizz div{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.inputQuizz div p {
    font-size: 20px;
    margin-bottom: 10px;
}
.quizzes{
    display:flex;
    flex-wrap: wrap;
    font-size: 19px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
    column-gap: 20px;
}

img {
    width: 340px;
    height: 180px;
}
.seletorQuizz{
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
    margin-bottom: 15px;
    width: 340px;
    cursor: pointer;
}
.quizz h3{
    position: absolute;
    top: 140px;
    left: 20px;
    word-break: break-all;
    text-align: left;
    max-width: 300px;
}
.quizz .banner{
    position: absolute;
    height: 60px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 40%, #000000 100%);
    left: 0;
    top:120px;
    width: 100%;
}
.section h4{
    font-size: 21px;
    font-weight: 400;
    color: #818181;
    cursor: pointer;
    margin-top: 30px;
}
.answerQuizz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
}
.quizzHeader{
    margin: 80px auto 50px auto;
    width: 100%; 
}
.quizzHeader{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quizzHeader h1 {
    font-size: 39px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    position:absolute
}
.bannerQuizzHeader{
    width: 100%;
    position: absolute;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
}
.quizzHeader img{
    min-width: 100%;
    height: 230px;
}
.question{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    max-width: 100%;
    width: 800px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.questionTitle{
    font-size: 23px;
    width: 100%;
    font-weight: 700;
    color: #FFFFFF;
    height: 100px;
    margin-bottom: 20px;
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: center;
}
.allAnswer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.answer{
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    position: relative;
    cursor: pointer;
}
.answer img{
    object-fit: cover;
}
.answer p{
    margin-top: 8px;
    word-break: break-all;
    max-width: 340px;
}
.result{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 800px;
    padding: 20px;
}
.resultTitle{
    background-color: #EC362D;
    padding: 0 30px;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;
}
.resultSelector{
    width: 100%;
}
.resultContainer{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 19px;
    font-weight: 700;
    color: #484848; 
    word-break: break-all;
}
.resultContainer img{
    height: 100%;
    object-fit: cover;
}
.imgResult{
    width: 360px;
    height: 270px;
    margin-right: 20px;
}
.answerQuizz button{
    background-color: #EC362D;
    color: #FFF5F4;
    height: 60px;
    width: 30%;
    min-width: 325px;
    max-width: 370px;
    padding: 10px 0;
    border-radius: 15px;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    border:none;
    margin-top: 60px;
    cursor: pointer;
}
.answerQuizz h4{
    font-size: 21px;
    font-weight: 400;
    color: #818181;
    cursor: pointer;
    margin-top: 30px;
}
.filter{
    background-color: #ffffff;
    opacity: 40%;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.alreadyClicked{
    pointer-events: none;
}
.true{
    color: #009C22;
}
.false{
    color: #FF4B4B;
}
.coverColor{
    color: #000000
}
.hidden{
    display: none;
}

@media (max-width: 1100px) {
    .tittle{
        margin: auto;
        max-width: 340px;
    }
    .seletorQuizz{
        margin-right: auto;
        margin-left: auto;
    }
    .quizzes{
        justify-content: center;
        flex-direction: column;
    }
    .myQuizz{
        width: 340px;
    }
    .container{
        min-width: 340px;
    }
    .answerQuizz{
        max-width: 100%;
        min-width: 340px;
    }
    .resultContainer{
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    img{
        max-width: 100%;
    }
    .questions{
        max-width: 100%;
    }
    .questions img{
        width: 160px;
        height: auto;
    }
    .answer p{
        width: 160px;
    }
    .answer{
        font-size: 12px;
    }
    .resultContainer img{
        width: 100%;
     }
    .imgResult{
        width: 100%;
        margin-right: 0;
     }
     .resultContainer p{
         margin-top: 10px;
     }
     .questionTitle{
         font-size: 18px;
         height:80px
     }
     .quizzHeader img{
         width: 100%;
         height: 140px;
     }
}